*{

  
  box-sizing: border-box;

}
body {
  font-size: 16px;
  color: #fff;
  background-color: #EAE7DC;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #D8C3A5;
  border-radius: 0;
  border: 0;
  
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #E85A4F;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}



#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #E85A4F;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */



/* HOME PAGE */

#our_menu{

 
  font-size: 1.5em;
  color: #8E8D8A;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 2.5%;
  line-height: .75;

}


#chik-tile, #beef-tile, #sushi-tile {

  height: auto;
  width: 100%;
  margin-bottom: 15px;
   border: 2px solid #8E8D8A;
 
}
#chik-tile:hover, #beef-tile:hover, #sushi-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#chik-tile {
  
  background-position: center;
}
#beef-tile {
  
  background-position: center;
}

#chik-tile span, #beef-tile span, #sushi-tile span {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #8E8D8A;
  color: #EAE7DC;
  
}

#main-content p{
  clear: left;
  padding-top: 2.5%;
  padding-right: 4%;
  padding-left: 4%;
  padding-bottom: 3%;
  margin: auto;
  text-align: justify;
  width: 100%;
  color: #E98074;
}

/* END HOME PAGE */


/********** Large devices only **********/
@media (min-width: 1200px) {
 

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

  
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */

  

  .navbar-brand {
    padding-top: 10px;
    height: 80px;

  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
     
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
     float: left;
  }

}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
 
  
}